$bg-color:#fafafa;
$blue25:#f2f4f7;
$blue50:#E8F2FF;
$blue100:#b7d5fe;
$blue200:#94c1fd;
$blue300:#64a5fc;
$blue400:#4593FC;
$blue500:#1778FB;
$blue600:#156DE4;
$blue700:#1055B2;
$blue800:#0d428a;
$blue900:#0a3269;
$success50:#EEFEF1;
$success100:#C9FAD3;
$success200:#AFF8BE;
$success300:#8AF5A0;
$success400:#74F38D;
$success500:#51F071;
$success600:#4ADA67;
$success700:#3aaa50;
$success800:#2D843E;
$success900:#22652F;
$warning50:#FDF8EF;
$warning100:#F9E9CD;
$warning200:#F7DFB5;
$warning300:#F3D093;
$warning400:#F1C77E;
$warning500:#edb95e;
$warning600:#D8A856;
$warning700:#A88343;
$warning800:#826634;
$warning900:#644E27;
$error50:#FEECEB;
$error100:#FCC5C1;
$error200:#FAA9A3;
$error300:#F88178;
$error400:#F6695E;
$error500:#F44336;
$error600:#DE3D31;
$error700:#AD3026;
$error800:#86251E;
$error900:#661C17;
$neutral25:#fafafa;
$neutral50:#ececec;
$neutral100:#c4c4c4;
$neutral200:#a8a8a8;
$neutral300:#808080;
$neutral400:#686868;
$neutral500:#424242;
$neutral600:#3c3c3c;
$neutral700:#2F2F2F;
$neutral800:#242424;
$neutral900:#1c1c1c;
