@use "../../styles/variable" as var;

  .select_box {
    padding:0 50px 0 34px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid var.$blue300;
    background-color: #fafafa;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var.$blue500;
    
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    background-image: url('../../assets/arrow-down.svg');
    background-position: 90% center;
    background-repeat: no-repeat;
    
  }
